.forecast {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center;
    gap: 20px; */
    margin-top: 20px;
}

.forecast-list {
    /* display: flex;
    flex-direction: column; */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}